<div class="row">
  <div class="col"></div>
  <form>
    <div class="row">
      <div class="mb-3 col-sm-5">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 col-sm-5">
        <label for="exampleInputPassword1" class="form-label">Amount</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
    </div>

    <button type="submit" class="m-2 ms-0 btn btn-primary">Add</button>
    <button type="button" class="btn m-2 btn-success">Clear</button>
    <button type="button" class="btn m-2 btn-danger">Delete</button>
  </form>
</div>
